<div class="container mt-4">
  <form [formGroup]="rechercheForm" (ngSubmit)="submit()" class="form-inline justify-content-between flex-nowrap">
    <div class="form-group flex-grow-1">
      <label for="name" class="mr-2">Nom</label>
      <input type="text" id="name" class="form-control w-100" formControlName="name"/>
    </div>

    <div class="form-group flex-grow-1">
      <label for="statut" class="mr-2">Statut</label>
      <select id="statut" class="form-control w-100" formControlName="statut">
        <option *ngFor="let statut of statuts" [value]="statut">{{ statut }}</option>
      </select>
    </div>

    <div class="form-group flex-grow-1">
      <label class="mr-2">Categorie</label>
      <div *ngFor="let categorie of categories; let i = index">
        <input type="checkbox" [value]="categorie" [id]="'categorie' + i" (change)="onCheckboxChange($event)"/>
        <label [for]="'categorie' + i">{{ categorie }}</label>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Soumettre</button>
  </form>
</div>

<p-table #dt1 [value]="tournaments" selectionMode="single" dataKey="id" [tableStyle]="{'min-width': '50rem'}"
         [rows]="5" [paginator]="true" stateStorage="session" stateKey="statedemo-session">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id" style="width:25%">Id <p-sortIcon field="name"></p-sortIcon></th>
      <th pSortableColumn="lieu" style="width:25%">Lieu <p-sortIcon field="country.name"></p-sortIcon></th>
      <th pSortableColumn="dateFinInscriptions" style="width:25%">Date fin inscription <p-sortIcon field="representative.name"></p-sortIcon></th>
      <th pSortableColumn="status" style="width:25%">Status <p-sortIcon field="status"></p-sortIcon></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-tournaments>
      <tr [pSelectableRow]="tournaments">
        <td>
          <span class="p-column-title">Id</span>
          {{tournaments.id}}
        </td>
        <td>
          <span class="p-column-title">Lieu</span>
          <span class="ml-1 vertical-align-middle">{{tournaments.lieu}}</span>
        </td>
        <td>
          <span class="p-column-title">Date fin inscription</span>
          <span class="ml-1 vertical-align-middle">{{tournaments.dateFinInscriptions}}</span>
        </td>
        <td>
          <span class="p-column-title">Status</span>
          {{tournaments.statut}}
        </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="4">No tournaments found.</td>
    </tr>
  </ng-template>
</p-table>

